* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

img {
    width: 25%;
    height: 25%;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#edit-btn-container {
  display: flex;
  gap: 10px;
}

#user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* Modal para dal de alta a usuario */

.modal-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
  display: none;
}

.modal-user-content {
  background: white;
  padding: 25px 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  position: relative;
  animation: slideIn 0.3s ease;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.modal-user-content span.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal-user-content span.close:hover {
  color: #e74c3c;
}

#add-user-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
  font-size: 14px;
}

.form-group input,
.form-group select {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input:hover,
.form-group select:hover {
  border-color: #2c3e50;
}

.form-group select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
}

#user_role:hover {
  cursor: pointer;
}
