* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
}

label {
    display: none;
}

input {
    border-color: #DADADA;
    border-style: solid;
    width: 400px;
    font-size: 1.05rem;
    border-radius: 7px;
    padding: 7px 12px;
}

.login-button {
    background-color: #C1E5F5;
    color: #357DA2;
    border-color: #94D1EC;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 130px;
}