<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
  <link rel="stylesheet" href="../static/css/add_user.css">
</head>
<body>
  <header>
    <img src="../static/media/spincare_logo.png" alt="Logo featuring stylized handwritten AnSo 
      and modern SpinCare text with By Sofia and Ana Carla below, accompanied by a detailed illustration 
      of a spine on a clean white background, conveying a professional and caring tone">
  </header>

  <div id="main-container">
    <h1>Dar de alta a usuario</h1>
    <div id="edit-btn-container">
      <h2>Datos del usuario</h2>
      <button class="edit-button">Editar</button>
    </div>
    <div id="info-container"></div>
  </div>
</body>
</html>