<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/dashboard.css">
  <title>Dashboard</title>
</head>
<body>
  <header>
    <img src="../static/media/spincare_logo.png" alt="Logo featuring stylized handwritten AnSo 
      and modern SpinCare text with By Sofia and Ana Carla below, accompanied by a detailed illustration 
      of a spine on a clean white background, conveying a professional and caring tone">
  </header>
  
  <div class="main-container">
    <div class="buttons-container">
      <button id="alta-paciente">Dar de alta a paciente</button>
      <button id="registro-cita">Registro de cita</button>
      <button id="calendario-citas">Calendario de citas</button>
      <button id="datos-citas">Datos y citas del paciente</button>
      <button id="citas">Citas del día</button>
    </div>
  </div>

  <script src="../static/js/dashboard.js"></script>
</body>
</html>